*.keystore
*.sw*
platforms/^.*

.DS_Store
.idea
.bin
dist/
bin/
build/

*.sw*
*~
node_modules/
.DS

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
npm-debug.log


# SublimeText project files
*.sublime-workspace

.sass-cache

src/scripts/templates/

